<div class="jumbotron">
    <div class="form-group">
        <div class="input-group">
            <h2>Open Movie Database</h2>
            <div>
                <div>
                    <input type="text" required [(ngModel)]="id_movie" (change)="callMovieService()" placeholder="Enter Movie name ...">
                    <br><br>
                    <h3>Movie Details</h3>
                    <br>
                    <p>
                        <i> Title :</i> {{ this.movie_Title }} <br>
                        <i> Plot :</i> {{ this.movie_Plot }} <br>
                        <i> Actors :</i> {{ this.movie_Actors }} <br>
                        <i> Directed by :</i> {{ this.movie_Director }} <br>
                        <i> Rated :</i> {{ this.movie_Rated }} <br>
                        <i> Release Date :</i> {{ this.movie_Released }} <br>
                        <img [src]=this.movie_Poster />
                    </p>
                </div>
            </div>
        </div>
        <!-- /input-group -->
    </div>
</div>